asgiref==3.7.2
certifi==2020.4.5.1
chardet==3.0.4
django==3.2.24
django-filter==2.2.0
djangorestframework==3.11.0
djangorestframework-simplejwt==5.3.0
idna==2.9
iniconfig==2.0.0
packaging==20.3
pluggy==0.13.1
pyjwt==1.7.1
pyparsing==2.4.7
pytest==7.4.4
pytest-django==4.8.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
